<script>
    var config = {
		      '#ref8'           : {},
          '#ref8-deselect'  : {allow_single_deselect:true},
          '#ref8-no-single' : {disable_search_threshold:10},
          '#ref8-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref8-width'     : {width:"95%"},

          '#ref9'           : {},
          '#ref9-deselect'  : {allow_single_deselect:true},
          '#ref9-no-single' : {disable_search_threshold:10},
          '#ref9-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref9-width'     : {width:"95%"},
          
          '#ref10'           : {},
          '#ref10-deselect'  : {allow_single_deselect:true},
          '#ref10-no-single' : {disable_search_threshold:10},
          '#ref10-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref10-width'     : {width:"95%"},

          '#ref11'           : {},
          '#ref11-deselect'  : {allow_single_deselect:true},
          '#ref11-no-single' : {disable_search_threshold:10},
          '#ref11-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref11-width'     : {width:"95%"},

          '#ref12'           : {},
          '#ref12-deselect'  : {allow_single_deselect:true},
          '#ref12-no-single' : {disable_search_threshold:10},
          '#ref12-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref12-width'     : {width:"95%"},
          
          '#ref4'           : {},
          '#ref4-deselect'  : {allow_single_deselect:true},
          '#ref4-no-single' : {disable_search_threshold:10},
          '#ref4-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref4-width'     : {width:"95%"},
          
          '#ref5'           : {},
          '#ref5-deselect'  : {allow_single_deselect:true},
          '#ref5-no-single' : {disable_search_threshold:10},
          '#ref5-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref5-width'     : {width:"95%"},
          
          '#ref6'           : {},
          '#ref6-deselect'  : {allow_single_deselect:true},
          '#ref6-no-single' : {disable_search_threshold:10},
          '#ref6-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref6-width'     : {width:"95%"},
          
          '#ref7'           : {},
          '#ref7-deselect'  : {allow_single_deselect:true},
          '#ref7-no-single' : {disable_search_threshold:10},
          '#ref7-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref7-width'     : {width:"95%"},
		      
          '#ref3'           : {},
          '#ref3-deselect'  : {allow_single_deselect:true},
          '#ref3-no-single' : {disable_search_threshold:10},
          '#ref3-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref3-width'     : {width:"95%"}
        }
        for (var selector in config) {
          $(selector).chosen(config[selector]);
    }

     $(document).ready(function($) {
        
        /*var valref11 = $("#ref11 option:selected").val();
        
        switch(valref11)
         {
          case '2':
              $("#object").show();
              $("#non_object").hide();
          break;
          default:
              $("#object").hide();
              $("#non_object").show();
         }

       $("#ref11").change(function(e) {
        e.preventDefault();
        var n = $(this).val();
         
         if(n == 2){
          $("#object").show('fadeIn');
          $("#non_object").hide('fadeOut');
         }else{
          $("#non_object").show('fadeIn');
          $("#object").hide('fadeOut');
          }
        
        });*/
              
    })
	
	function updateData()
		{
			var btn_plus = "{btn_plus}";
			if(btn_plus == ""){
				parent.openModal('{admin_url}{title_link}');
			}
		}
		updateData();
</script>

        <div class="row">
          <div class="span14">
            {notif}
            <div class="alert-message {notif_class}" data-alert="alert" >
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <p><strong>Notification</strong><br />{notif_title}</p>
          	</div>
            {/notif}
	    

	    <h2>{title_head} <i class="icon-chevron-right float-no"></i> {add_edit}</h2>
            {list}
            <form name="form_list" method="POST" action="{admin_url}{title_link}/submit" enctype="multipart/form-data" class="navbar-content">
			 <table>
				  <tr>
				  <td class="no-border"> 
                  <div id="object">
                    <p>Object Type</p>
                      {ref12}
                    <hr />

                   <p>Object Tag No</p>
                   <input type="input" name="obj_tag_no" value="{obj_tag_no}"/>
                   <hr />

                  <p>Management Id</p>
                  <input type="input" name="management_id" value="{management_id}"/>
                  <hr />

                  <p>Description</p>
                  <input type="input" name="desc_" value="{desc_}"/>
                  <hr />

                 <p>Drawing Reference</p>
                 <input type="input" name="drawing_ref" value="{drawing_ref}"/>
                 <hr />

                 <p>Sheet</p>
                 <input type="input" name="sheet" value="{sheet}"/>
                 <hr />

                 <p>Rev</p>
                 <input type="input" name="rev" value="{rev}"/>
                 <hr />
				 
				 </td>
				 <td class="sidebar-right no-border">

                 <p>Missing Physical Tag</p>
                 {ref4}
                 <hr />

                 <p>Missing Virtual Tag</p>
                 {ref5}
                 <hr />

                 <p>Equipment Category</p>
                 {ref9}
                 <hr />

                 <p>Ex Service</p>
                 {ref6}
                 <hr />

                 <p>Ex Type Code</p>
                 {ref10}
                 <hr />

                 <p>CMMS Status</p>
                 <input type="input" name="cmms_status" value="{cmms_status}"/>
                 <hr />

                 <p>Work Order</p>
                 {ref7}
                 <hr />
               </div>

                 <p>Publish</p>
                 {ref3}
                 <hr />
				 
                 <p>Created Date</p>
                 <input type="input" name="create_date" disabled='disabled' value="{create_date}"/>
                 <hr />
				 
				 <a href="{admin_url}{title_link}/edit/{id_plant_folder}/0" style="{btn_plus}"><input type="button" class="btn info" value="add more" id="more_btn"/></a>
                 <input type="button" class="btn info" value="save" id="save_btn" onclick="document.form_list.submit();"/>
                 <a href="javascript:void(0);" onclick="parent.closeModalFacebox();"><input type="button" class="btn-reset" value="cancel"/></a>
                 <input type="hidden" name="id" value="{id}"/>
                 <input type="hidden" name="id_plant_folder" value="{id_plant_folder}"/>
                 <input type="hidden" name="id_plant" value="{id_plant}"/>
                 <input type="hidden" name="id_ref_item" value="{id_ref_item}"/>
				 </td>
			</tr>
		</table>
	    </form>
            {/list}
        </div>
</div>