<script>
	 var config = {
          '#ref1'           : {},
          '#ref1-deselect'  : {allow_single_deselect:true},
          '#ref1-no-single' : {disable_search_threshold:10},
          '#ref1-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref1-width'     : {width:"95%"},
          '#ref2'           : {},
          '#ref2-deselect'  : {allow_single_deselect:true},
          '#ref2-no-single' : {disable_search_threshold:10},
          '#ref2-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref2-width'     : {width:"95%"},
          '#ref3'           : {},
          '#ref3-deselect'  : {allow_single_deselect:true},
          '#ref3-no-single' : {disable_search_threshold:10},
          '#ref3-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref3-width'     : {width:"95%"},
        }
        for (var selector in config) {
          $(selector).chosen(config[selector]);
    }
	

		/*$('#comm_date').datepicker({
			dateFormat: 'yy-mm-dd',
			showOtherMonths: true,
			changeMonth: true,
			changeYear: true
		});*/

        $('#comm_date').datetimepicker({
            showTimepicker: false,
            dateFormat: "dd-mm-yy"
        });

        default_dec_zero('input[name="shell1_nt_mm"]');
        default_dec_zero('input[name="shell1_nt_in"]');
        default_dec_zero('input[name="shell1_id_cm"]');
        default_dec_zero('input[name="shell1_id_in"]');

        $('input[name="shell1_nt_mm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="shell2_nt_mm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="shell1_id_cm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="shell2_id_cm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="head1_nt_mm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="head2_nt_mm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="head1_ir_cm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="head2_ir_cm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="design_life"]').maskMoney({thousands:'',decimal:'.', precision:0,});
       /* $('input[name="shell1_nt_in"]').maskMoney({thousands:'',decimal:'.', precision:3,});*/

       $('input[name="shell1_nt_in"]').attr('readonly', true);
       $('input[name="shell1_id_in"]').attr('readonly', true);
       $('input[name="shell2_nt_in"]').attr('readonly', true);
       $('input[name="shell2_id_in"]').attr('readonly', true);
       $('input[name="head1_nt_in"]').attr('readonly', true);
       $('input[name="head1_ir_in"]').attr('readonly', true);
       $('input[name="head2_nt_in"]').attr('readonly', true);
       $('input[name="head2_ir_in"]').attr('readonly', true);

        $('input[name="shell1_nt_mm"]').blur(function() {
            var mm = mmtoin($(this).val());
            $('input[name="shell1_nt_in"]').val(mm);
        });

        $('input[name="shell1_id_cm"]').blur(function() {
            var cm = cmtoin($(this).val());
            $('input[name="shell1_id_in"]').val(cm);
        });

        $('input[name="shell2_nt_mm"]').blur(function() {
            var mm = mmtoin($(this).val());
            $('input[name="shell2_nt_in"]').val(mm);
        });

        $('input[name="shell2_id_cm"]').blur(function() {
            var cm = cmtoin($(this).val());
            $('input[name="shell2_id_in"]').val(cm);
        }); 

        $('input[name="head1_nt_mm"]').blur(function() {
            var mm = mmtoin($(this).val());
            $('input[name="head1_nt_in"]').val(mm);
        });

        $('input[name="head1_ir_cm"]').blur(function() {
            var cm = cmtoin($(this).val());
            $('input[name="head1_ir_in"]').val(cm);
        });

        $('input[name="head2_nt_mm"]').blur(function() {
            var mm = mmtoin($(this).val());
            $('input[name="head2_nt_in"]').val(mm);
        });

        $('input[name="head2_ir_cm"]').blur(function() {
            var cm = cmtoin($(this).val());
            $('input[name="head2_ir_in"]').val(cm);
        });

        function mmtoin(value1){
            var mminch = parseFloat(0.039370079);
            var var1 = parseFloat(value1);
            var var2 = parseFloat(var1 * mminch);
            var mm = var2.toFixed(3);
            return mm;
        }

        function cmtoin(value1){
            var cminch = parseFloat(0.39370);
            var var1 = parseFloat(value1);
            var var2 = parseFloat(var1 * cminch);
            var cm = var2.toFixed(3);
            return cm;
        }

        function default_zero(selector){
            if($(selector).val().length == 0){
                $(selector).val(0);
            }
        }

        function default_dec_zero(selector){
            if($(selector).val().length == 0){
                $(selector).val(0.000);
            }
        }

</script>
        
        <ul id="breadcrumb">
            <li><a href="{admin_url}index/" title="Home"><span class="icon-home"></span></a></li>
            <li><a href="{admin_url}{title_link}"><span>{title_head}</span></a></li>
            <li><span>{add_edit}</span></li>
        </ul>
        <div class="clear"></div>


        <div class="row">
          <div class="span14">
            {notif}
            <div class="alert-message {notif_class}" data-alert="alert" >
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <p><strong>Notification</strong><br />{notif_title}</p>
          	</div>
            {/notif}
	    

	    <h2>{add_edit}</h2>
            {list}
            <form name="form_list" method="POST" action="{admin_url}{title_link}/submit" enctype="multipart/form-data" class="navbar-content">

                <div class="formobj50">
                 <p >Title</p>
                 <input type="input" name="title" value="{title}" disabled='disabled'/>
                </div>

                <div class="formobj50">
                 <p >Serial No.</p>
                 <input type="input" name="serial_no" value="{serial_no}"/>
                </div>

                <div class="clearfix"></div>
           

                <div class="formobj50">
                <p>Description</p>
                 <input type="input" name="desc_" value="{desc_}"/>
                </div>

                <div class="formobj50">
                 <p >Product</p>
                 {ref1}
                </div>

                <div class="clearfix"></div>

                <div class="formobj100">
                 <p>System</p>
                 {ref3}
                </div>
                <div class="clearfix"></div>
                 
                <hr />

                <div class="formobj14">
                 <p>Shell 1</p>
                </div>

                <div class="formobj14">
                 <p>Nominal Thk.</p>
                </div>

                <div class="formobj14">
                 <input type="input" name="shell1_nt_mm" value="{shell1_nt_mm}" class="pendek"/> mm
                </div>

                <div class="formobj14">
                 <input type="input" name="shell1_nt_in" value="{shell1_nt_in}" class="pendek"/> in
                </div>

                <div class="formobj14">
                 <p>Internal Diameter</p>
                </div>

                <div class="formobj14">
                 <input type="input" name="shell1_id_cm" value="{shell1_id_cm}" class="pendek"/> cm
                </div>

                <div class="formobj14">
                 <input type="input" name="shell1_id_in" value="{shell1_id_in}" class="pendek"/> in
                </div>

                <div class="clearfix"></div>

                <hr />

                <div class="formobj14">
                 <p>Shell 2</p>
                </div>

                <div class="formobj14">
                 <p>Nominal Thk.</p>
                </div>

                <div class="formobj14">
                 <input type="input" name="shell2_nt_mm" value="{shell2_nt_mm}" class="pendek"/> mm
                </div>

                <div class="formobj14">
                 <input type="input" name="shell2_nt_in" value="{shell2_nt_in}" class="pendek"/> in
                </div>

                <div class="formobj14">
                 <p>Internal Diameter</p>
                </div>

                <div class="formobj14">
                 <input type="input" name="shell2_id_cm" value="{shell2_id_cm}" class="pendek"/> cm
                </div>

                <div class="formobj14">
                 <input type="input" name="shell2_id_in" value="{shell2_id_in}" class="pendek"/> in
                </div>

                <div class="clearfix"></div>

                <hr />

                <div class="formobj14">
                 <p>Head 1</p>
                </div>

                <div class="formobj14">
                 <p>Nominal Thk.</p>
                </div>

                <div class="formobj14">
                 <input type="input" name="head1_nt_mm" value="{head1_nt_mm}" class="pendek"/> mm
                </div>

                <div class="formobj14">
                 <input type="input" name="head1_nt_in" value="{head1_nt_in}" class="pendek"/> in
                </div>

                <div class="formobj14">
                 <p>Internal Radius</p>
                </div>

                <div class="formobj14">
                 <input type="input" name="head1_ir_cm" value="{head1_ir_cm}" class="pendek"/> cm
                </div>

                <div class="formobj14">
                 <input type="input" name="head1_ir_in" value="{head1_ir_in}" class="pendek"/> in
                </div>

                <div class="clearfix"></div>

                <hr />

                <div class="formobj14">
                 <p>Head 2</p>
                </div>

                <div class="formobj14">
                 <p>Nominal Thk.</p>
                </div>

                <div class="formobj14">
                 <input type="input" name="head2_nt_mm" value="{head2_nt_mm}" class="pendek"/> mm
                </div>

                <div class="formobj14">
                 <input type="input" name="head2_nt_in" value="{head2_nt_in}" class="pendek"/> in
                </div>

                <div class="formobj14">
                 <p>Internal Radius</p>
                </div>

                <div class="formobj14">
                 <input type="input" name="head2_ir_cm" value="{head2_ir_cm}" class="pendek"/> cm
                </div>

                <div class="formobj14">
                 <input type="input" name="head2_ir_in" value="{head2_ir_in}" class="pendek"/> in
                </div>

                <div class="clearfix"></div>

                <hr/>

                <div class="formobj50">
                 <p >Commission Date</p>
                 <input type="input" name="comm_date" value="{comm_date}" id="comm_date" class="pendek"/>
                </div>

                <div class="formobj50">
                 <p>Design Life</p>
                 <input type="input" name="design_life" value="{design_life}" class="pendek"/>
                </div>

                <div class="clearfix"></div>

                <div class="formobj50">
                 <p >Retirement Date</p>
                 <input type="input" name="retirement_date" value="{retirement_date}" id="retirement_date" disabled='disabled' class="pendek"/>
                </div>

                <div class="formobj50">
                 <p>Extended design Life</p>
                 <input type="input" name="ext_design_life" value="{ext_design_life}" disabled='disabled' class="pendek"/>
                </div>

                <div class="clearfix"></div>

                <hr/>

				 <p>Publish</p>
                 {ref2}
                 <hr />

                 <p>Created Date</p>
                 <input type="input" name="create_date" disabled='disabled' value="{create_date}"/>
                 <hr />
				
				 <a href="{admin_url}{title_link}/edit/0" style="{btn_plus}"><input type="button" class="btn info" value="add more" id="more_btn"/></a>
                 <input type="button" class="btn info" value="save" id="save_btn" onclick="document.form_list.submit();"/>
                 <a href="{admin_url}{title_link}"><input type="button" class="btn-reset" value="cancel"/></a>
                 <input type="hidden" name="id" value="{id}"/>
	    </form>
            {/list}
        </div>
</div>