<script>
	 var config = {
          '#ref1'           : {},
          '#ref1-deselect'  : {allow_single_deselect:true},
          '#ref1-no-single' : {disable_search_threshold:10},
          '#ref1-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref1-width'     : {width:"95%"},
          '#ref2'           : {},
          '#ref2-deselect'  : {allow_single_deselect:true},
          '#ref2-no-single' : {disable_search_threshold:10},
          '#ref2-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref2-width'     : {width:"95%"},
          '#ref3'           : {},
          '#ref3-deselect'  : {allow_single_deselect:true},
          '#ref3-no-single' : {disable_search_threshold:10},
          '#ref3-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref3-width'     : {width:"95%"},
        }
        for (var selector in config) {
          $(selector).chosen(config[selector]);
        }
	
        $('#comm_date').datetimepicker({
            showTimepicker: false,
            dateFormat: "dd-mm-yy"
        });

         $('#design_life').keyup(function() {
            var design_life = $(this).val();

            var dateMin = $('#comm_date').datepicker("getDate");
            var rMax = new Date(dateMin.getFullYear() + parseInt(design_life), dateMin.getMonth(),dateMin.getDate() - 1); 
            $('#retirement_date').val($.datepicker.formatDate('dd-mm-yy', new Date(rMax)));
         
        });

        default_dec_zero('input[name="shell1_nt_mm"]');
        default_dec_zero('input[name="shell1_nt_in"]');
        default_dec_zero('input[name="shell1_id_cm"]');
        default_dec_zero('input[name="shell1_id_in"]');

        $('input[name="shell1_nt_mm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="shell2_nt_mm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="shell1_id_cm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="shell2_id_cm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="head1_nt_mm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="head2_nt_mm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="head1_ir_cm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="head2_ir_cm"]').maskMoney({thousands:'',decimal:'.', precision:3,});
        $('input[name="design_life"]').maskMoney({thousands:'',decimal:'.', precision:0,});

       $('input[name="shell1_nt_in"]').attr('readonly', true);
       $('input[name="shell1_id_in"]').attr('readonly', true);
       $('input[name="shell2_nt_in"]').attr('readonly', true);
       $('input[name="shell2_id_in"]').attr('readonly', true);
       $('input[name="head1_nt_in"]').attr('readonly', true);
       $('input[name="head1_ir_in"]').attr('readonly', true);
       $('input[name="head2_nt_in"]').attr('readonly', true);
       $('input[name="head2_ir_in"]').attr('readonly', true);

        $('input[name="shell1_nt_mm"]').blur(function() {
            var mm = mmtoin($(this).val());
            $('input[name="shell1_nt_in"]').val(mm);
        });

        $('input[name="shell1_id_cm"]').blur(function() {
            var cm = cmtoin($(this).val());
            $('input[name="shell1_id_in"]').val(cm);
        });

        $('input[name="shell2_nt_mm"]').blur(function() {
            var mm = mmtoin($(this).val());
            $('input[name="shell2_nt_in"]').val(mm);
        });

        $('input[name="shell2_id_cm"]').blur(function() {
            var cm = cmtoin($(this).val());
            $('input[name="shell2_id_in"]').val(cm);
        }); 

        $('input[name="head1_nt_mm"]').blur(function() {
            var mm = mmtoin($(this).val());
            $('input[name="head1_nt_in"]').val(mm);
        });

        $('input[name="head1_ir_cm"]').blur(function() {
            var cm = cmtoin($(this).val());
            $('input[name="head1_ir_in"]').val(cm);
        });

        $('input[name="head2_nt_mm"]').blur(function() {
            var mm = mmtoin($(this).val());
            $('input[name="head2_nt_in"]').val(mm);
        });

        $('input[name="head2_ir_cm"]').blur(function() {
            var cm = cmtoin($(this).val());
            $('input[name="head2_ir_in"]').val(cm);
        });

        function mmtoin(value1){
            var mminch = parseFloat(0.039370079);
            var var1 = parseFloat(value1);
            var var2 = parseFloat(var1 * mminch);
            var mm = var2.toFixed(3);
            return mm;
        }

        function cmtoin(value1){
            var cminch = parseFloat(0.39370);
            var var1 = parseFloat(value1);
            var var2 = parseFloat(var1 * cminch);
            var cm = var2.toFixed(3);
            return cm;
        }

        function default_zero(selector){
            if($(selector).val().length == 0){
                $(selector).val(0);
            }
        }

        function default_dec_zero(selector){
            if($(selector).val().length == 0){
                $(selector).val(0.000);
            }
        }

        function updateData()
        {
            var btn_plus = "{btn_plus}";
            if(btn_plus == ""){
                parent.openModal('{admin_url}{title_link}');
            }
        }
        updateData();

</script>
        <div class="row">
          <div class="span14">
            {notif}
            <div class="alert-message {notif_class}" data-alert="alert" >
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <p><strong>Notification</strong><br />{notif_title}</p>
          	</div>
            {/notif}
	    

	    <h2>{title_head} <i class="icon-chevron-right float-no"></i> {add_edit}</h2>
            {list}
            <form name="form_list" method="POST" action="{admin_url}{title_link}/submit" enctype="multipart/form-data" class="navbar-content">
                <table>
                    <tr>
                        <td class="no-border" colspan="3">
                            <p>Title</p>
                            <input type="input" name="title" value="{title}" readonly/>
                        </td>
                         <td class="no-border" colspan="3">
                            <p >Serial No.</p>
                            <input type="input" name="serial_no" value="{serial_no}"/>
                         </td>
                    </tr>
                    <tr>
                        <td class="no-border" colspan="3">
                            <p>Description</p>
                            <input type="input" name="desc_" value="{desc_}"/>
                        </td>
                        <td class="no-border" colspan="3">
                            <p >Product</p>
                            {ref1}
                        </td>
                    </tr>
                    <tr>
                        <td class="no-border" colspan="6">
                            <p>System</p>
                            {ref3}
                        </td>
                    </tr>

                    <tr>
                        <td class="sidebar-right no-border">
                            Shell 1&nbsp;&nbsp;&nbsp;Nominal Thk.
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="shell1_nt_mm" value="{shell1_nt_mm}" class="pendek"/> mm
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="shell1_nt_in" value="{shell1_nt_in}" class="pendek"/> in
                        </td>
                        <td class="sidebar-right no-border">
                            <p>Internal Diameter</p>
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="shell1_id_cm" value="{shell1_id_cm}" class="pendek"/> cm
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="shell1_id_in" value="{shell1_id_in}" class="pendek"/> in
                        </td>
                    </tr>

                    <tr>
                        <td class="sidebar-right no-border">
                            Shell 2&nbsp;&nbsp;&nbsp;Nominal Thk.
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="shell2_nt_mm" value="{shell2_nt_mm}" class="pendek"/> mm
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="shell2_nt_in" value="{shell2_nt_in}" class="pendek"/> in
                        </td>
                        <td class="sidebar-right no-border">
                            <p>Internal Diameter</p>
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="shell2_id_cm" value="{shell2_id_cm}" class="pendek"/> cm
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="shell2_id_in" value="{shell2_id_in}" class="pendek"/> in
                        </td>
                    </tr>

                    <tr>
                        <td class="sidebar-right no-border">
                            Head 1&nbsp;&nbsp;&nbsp;Nominal Thk.
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="head1_nt_mm" value="{head1_nt_mm}" class="pendek"/> mm
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="head1_nt_in" value="{head1_nt_in}" class="pendek"/> in
                        </td>
                        <td class="sidebar-right no-border">
                            <p>Internal Radius</p>
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="head1_ir_cm" value="{head1_ir_cm}" class="pendek"/> cm
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="head1_ir_in" value="{head1_ir_in}" class="pendek"/> in
                        </td>
                    </tr>

                    <tr>
                        <td class="sidebar-right no-border">
                            Head 2&nbsp;&nbsp;&nbsp;Nominal Thk.
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="head2_nt_mm" value="{head2_nt_mm}" class="pendek"/> mm
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="head2_nt_in" value="{head2_nt_in}" class="pendek"/> in
                        </td>
                        <td class="sidebar-right no-border">
                            <p>Internal Radius</p>
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="head2_ir_cm" value="{head2_ir_cm}" class="pendek"/> cm
                        </td>
                        <td class="sidebar-right no-border">
                            <input type="input" name="head2_ir_in" value="{head2_ir_in}" class="pendek"/> in
                        </td>
                    </tr>

                    <tr>
                        <td class="no-border" colspan="3">
                            <p >Commission Date</p>
                            <input type="input" name="comm_date" value="{comm_date}" id="comm_date" class="pendek"/>
                        </td>
                        <td class="no-border" colspan="3">
                             <p>Design Life</p>
                             <input type="input" name="design_life" value="{design_life}" id="design_life" class="pendek"/>
                        </td>
                    </tr>

                    <tr>
                        <td class="no-border" colspan="3">
                             <p >Retirement Date</p>
                             <input type="input" name="retirement_date" value="{retirement_date}" id="retirement_date" readonly class="pendek"/>
                        </td>
                        <td class="no-border" colspan="3">
                             <p>Extended design Life</p>
                             <input type="input" name="ext_design_life" value="{ext_design_life}" readonly class="pendek"/>
                        </td>
                    </tr>

                    <tr>
                        <td class="no-border" colspan="3">
                             <p>Publish</p>
                             {ref2}
                         </td>
                        <td class="no-border" colspan="3">
                            <p>Created Date</p>
                            <input type="input" name="create_date" disabled='disabled' value="{create_date}"/>
                        </td>
                    </tr>

                    <tr>
                        <td class="no-border" colspan="6">
                            <a href="{admin_url}{title_link}/edit/0" style="{btn_plus}">
                                <input type="button" class="btn info" value="add more" id="more_btn"/>
                            </a>
                            <input type="button" class="btn info" value="save" id="save_btn" onclick="document.form_list.submit();"/>
                            <a href="javascript:void(0);" onclick="parent.closeModalFacebox();">
                                <input type="button" class="btn-reset" value="cancel"/>
                            </a>
                            <input type="hidden" name="id" value="{id}">
                            <input type="hidden" name="id_item_object" value="{id_item_object}">
                            <input type="hidden" name="id_plant" value="{id_plant}">
                            <input type="hidden" name="id_plant_folder" value="{id_plant_folder}">
                        </td>
                    </tr>
                    
                </table>
	    </form>
            {/list}
        </div>
</div>