<script>
function set_save(){

	$("#form_list").submit(function(e)
	{
		var postData = $(this).serializeArray();
		var formURL = $(this).attr("action");
		$.ajax(
		{
			url : formURL,
			type: "POST",
			data : postData,
			success:function(data)
			{
				var url = data;
				parent.openModal(url);
			}
		});
		e.preventDefault(); //STOP default action
		e.unbind(); //unbind. to stop multiple form submit.
	});
	 
	$("#form_list").submit(); 

}
</script> 

 <div class="row">
          <div class="span14">
           
            {notif}
            <div class="alert-message {notif_class}" data-alert="alert" >
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <p><strong>Notification</strong><br />{notif_title}</p>
          	</div>
            {/notif}
	    

	    <h2>Edit</h2>
            {list}
            <form id="form_list" name="form_list" method="POST" action="{admin_url}{title_link}/submit_account" enctype="multipart/form-data" class="navbar-content">
                
                 <p>Username</p>
                 <input type="input" name="username" value="{title}"/>
                 <hr />
                 
                 <p>Password</p>
                 <input type="password" name="password" value=""/>
                 <input type="hidden" name="password_old" value="{password}"/>
                 <hr />
                 
                 <p>Admin Level</p>
                 <input type="input" name="adminlevel" value="{level_title}" disabled="disabled"/>
                 <hr />
                 
                 <input type="hidden" name="publish" value="{publish}"/>
                 <input type="hidden" name="ref1" value="{ref1}"/>
                 <p>Created Date</p>
                 <input type="input" name="title" disabled='disabled' value="{create_date}"/>
                 <hr />
				
                 <input type="button" class="btn info" value="save" id="save_btn" onclick="set_save()"/>
                 <a href="javascript:void(0);" onclick="parent.openModal('{admin_url}dashboard/home');"><input type="button" class="btn-reset" value="cancel"/></a>
                 <input type="hidden" name="id" value="{id}"/>
	    </form>
            {/list}
        </div>
</div>