        <ul id="breadcrumb">
            <li><a href="{base_url}admincontrol/index/" title="Home"><span class="icon-home"></span></a></li>
        </ul>
        <div class="clear"></div>
        
        
        <div class="row">
          <div class="span9">
            <h2>Dashboard</h2>
            <p class="dashboard"></p>
          </div>
          <div class="clear"></div>
		  <div class="contentdashboard">
       			<div id="rightnow">
                    <h3 class="reallynow">
                        <span>Welcome to {site_name}</span>
                        <br>
                    </h3>
				</div>
          </div>     
			<!-- dashboard -->
      </div>
</div>