<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel='shortcut icon' href='{base_url}favicon.ico'/>
<link rel='stylesheet' href='{base_url}css/admin_css/styles.css' type='text/css' media='screen' />
<link rel='stylesheet' href='{base_url}css/admin_css/stylebackend.css' type='text/css' media='screen' />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en-us" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="cache-control" content="no-store" />
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="imagetoolbar" content="no" />
<meta http-equiv="expires" content="01/01/99 20:00:00 GMT"/>
<meta http-equiv="pragma" content="no-cache" />
<meta name="rating" content="general" />
<title>Administrator</title>
<link rel="shortcut icon" href="{base_url}favicon.ico" />
<script language="JavaScript" src="{base_url}ckeditor-moono/ckeditor.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="all" href="{base_url}external-plugins/alert-box/AlertBox.css" />
<script language="Javascript" type="text/javascript" src="{base_url}js/jquery.1.8.2.min.js"></script>

<!--<script src="{base_url}external-plugins/highchart/highcharts.1.2.5.js"></script>-->
<!--[if IE]>
	<script type="text/javascript" src="{base_url}external-plugins/highchart/excanvas.compiled.js"></script>
<![endif]-->	
<!--<script src="{base_url}external-plugins/highchart/modules/exporting.js"></script>-->


<link rel="stylesheet" type="text/css" href="{base_url}external-plugins/jquery-ui-1.9.1/css/ui-darkness/jquery-ui-1.9.1.custom.css" />
<script type="text/javascript" src="{base_url}external-plugins/jquery-ui-1.9.1/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="{base_url}external-plugins/bootstrap/bootstrap-alert.js"></script>
<script src="{base_url}external-plugins/bootstrap/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="{base_url}external-plugins/alert-box/AlertBox.js"></script>
<script type="text/javascript" src="{base_url}external-plugins/jquery-cookie/jquery.cookie.js"></script>
<!-- start jquery treeview -->
<link rel="stylesheet" href="{base_url}external-plugins/jquery.treeview/jquery.treeview.css" />
<script src="{base_url}external-plugins/jquery.treeview/jquery.treeview.js" type="text/javascript"></script>
<!-- end jquery treeview -->
<script type="text/javascript" src="{base_url}external-plugins/slimscroll/slimScroll.js"></script>

<!-- chosen master -->
<link rel="stylesheet" href="{base_url}external-plugins/chosen-master/chosen/chosen.css"/>
<script src="{base_url}external-plugins/chosen-master/chosen/chosen.jquery.js" type="text/javascript"></script>
<!-- end chosen master -->

<!-- datetime picker -->
<link rel="StyleSheet" href="{base_url}external-plugins/datetimepicker/jquery-ui-timepicker-addon.css" type="text/css" media="all"/>
<script type="text/javascript" src="{base_url}external-plugins/datetimepicker/jquery-ui-timepicker-addon.js"></script>
<!-- end datetime picker -->

<!-- finder explorer hcolumn -->
<link rel="stylesheet" href="{base_url}external-plugins/finder-hcolumn/hcolumns.css" type="text/css">




<script src="{base_url}external-plugins/finder-hcolumn/jquery.hcolumns.js"></script>
<script type="text/javascript">


function finder()
{
	var nodes = {
                    0: [
                        { id: 1, label: "Plant 1", type: "folder" },
                        { id: 2, label: "Plant 2", type: "folder"}
                    ],

                    1: [
                        { id: 1.1, label: "Planning", type: "folder" },
						{ id: 1.2, label: "Folder Object", type: "folder" },
                        { id: 1.3, label: "Alerts", type: "folder" },
						{ id: 1.4, label: "Archive", type: "folder" },
						{ id: 1.5, label: "Assets Listing", type: "folder" },
						{ id: 1.6, label: "Criticaly Ratings", type: "folder" },
						{ id: 1.7, label: "Management Status", type: "folder" },
						{ id: 1.8, label: "Pending Inspections", type: "folder" },
						{ id: 1.9, label: "Criticaly Ratings", type: "folder" },
						{ id: 1.10, label: "Pipe Classes", type: "folder" },
						{ id: 1.11, label: "Process", type: "folder" },
						{ id: 1.12, label: "Relative Risk Status", type: "folder" },
						{ id: 1.13, label: "System", type: "folder" },
						{ id: 1.14, label: "Task Register", type: "folder" },
						{ id: 1.15, label: "Technical Libarary", type: "folder" }
                    ],

                    1.3: [
                        { id: 1.311, label: "Alarms", type: "folder" },
                        { id: 1.312, label: "Corrosion", type: "folder" },
						{ id: 1.313, label: "High Risk", type: "folder" },
						{ id: 1.314, label: "Inspection Reports", type: "folder" },
						{ id: 1.315, label: "Overdue", type: "folder" },
                        /*{ id: 1.113, label: "Hacker News", type:"link", url: "https://news.ycombinator.com/news" }*/
                    ],

                    1.2: [
                        // empty node
                    ],

                    2: [
                        { id: 2.1, label: "Planning", type: "folder" },
						{ id: 2.2, label: "Folder Object", type: "folder" },
                        { id: 2.3, label: "Alerts", type: "folder" },
						{ id: 2.4, label: "Archive", type: "folder" },
						{ id: 2.5, label: "Assets Listing", type: "folder" },
						{ id: 2.6, label: "Criticaly Ratings", type: "folder" },
						{ id: 2.7, label: "Management Status", type: "folder" },
						{ id: 2.8, label: "Pending Inspections", type: "folder" },
						{ id: 2.9, label: "Criticaly Ratings", type: "folder" },
						{ id: 2.10, label: "Pipe Classes", type: "folder" },
						{ id: 2.11, label: "Process", type: "folder" },
						{ id: 2.12, label: "Relative Risk Status", type: "folder" },
						{ id: 2.13, label: "System", type: "folder" },
						{ id: 2.14, label: "Task Register", type: "folder" },
						{ id: 2.15, label: "Technical Libarary", type: "folder" }
                    ]
                };

                $("#columns").hColumns({
                    nodeSource: function(node_id, callback) {
                       if(node_id === null) {
                            node_id = 0;
                        }

                        if( !(node_id in nodes) ) {
                            return callback("Node not exists");
                        }

                        return callback(null, nodes[node_id]);
						
						 /*$.ajax("{base_url}plant", { node_id: node_id }).done(function(data) {
							return callback(null, data);
						 }).fail(function() {
							return callback("AJAX error");
						 });*/
						
                    }
                });
}
</script>


<!-- facebox -->
<link href="{base_url}external-plugins/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css" />
<script src="{base_url}external-plugins/facebox/facebox.js" type="text/javascript"></script>
<script src="{base_url}external-plugins/slimscroll/jquery.nicescroll.min.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
		$.facebox.settings.closeImage = '{base_url}external-plugins/facebox/closelabel.png';
		$.facebox.settings.loadingImage = '{base_url}external-plugins/facebox/loading.gif';
		$('a[rel*=facebox]').facebox();
		
		finder();
		
		var dinamyc_height = $("#sidebar").height() - 95;
		$("#columns").css('height',dinamyc_height+"px");
		$("#columns ul").css('height',dinamyc_height+"px");

			
    })
	$("[rel=tooltip]").tooltip();
</script>
<!-- end facebox -->
</head>
<body>
<div id="sidebar" class="page-sidebar mini">
	<div id="columns"></div>
</div>
 <div class="topbar">
      <div class="fill">
        <div class="container">
        <ul class="nav">
			<li>
				<a rel="tooltip" title="Hide / Show Explorer" id="sidebar-toogle" class="" href="#"><div class="iconset top-menu-toggle-dark"></div> </a>
			</li>
        	{list_menu}
            <li class="{actived}">
            	<a href="{uri}" {dropdown_toogle}>{title}</a>{caret}
                <ul {dropdown_menu}>
                	{list_menu1}
                	<li class="{actived}">
					<a href="{uri}">{title} &nbsp;{caret}</a>
						<ul {dropdown_menu}>
							{list_menu2}
							<li class="{actived}"><a href="{uri}">{title}</a></li>
							{divider}
							{/list_menu2}
						</ul>
					</li>
                	{divider}
                    {/list_menu1}
                </ul>
            </li>
            {divider}
            {/list_menu}
          </ul>
	  
          <ul class="user">
             <li>
             <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-user"></i>{admin_name}</a>
             	<ul class="dropdown-menu" id="menu">
                	<li><a href="{admin_url}adminusers_auth/edit_account/{adminusers_auth_id}"><i class="icon-wrench"></i>Edit Account</a></li>
            		<li class="last"><a href="{admin_url}logout"><i class="icon-lock"></i>Logout</a></ul>
             </li>
          </ul>
         
        </div>
      </div>
</div>
			
