<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="padding:0 !important;">
<head>
<link rel='shortcut icon' href='{base_url}favicon.ico'/>
<link rel='stylesheet' href='{base_url}css/admin_css/styles.css' type='text/css' media='screen' />
<link rel='stylesheet' href='{base_url}css/admin_css/stylebackend.css' type='text/css' media='screen' />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en-us" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="cache-control" content="no-store" />
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="imagetoolbar" content="no" />
<meta http-equiv="expires" content="01/01/99 20:00:00 GMT"/>
<meta http-equiv="pragma" content="no-cache" />
<meta name="rating" content="general" />
<title>Administrator</title>
<link rel="shortcut icon" href="{base_url}favicon.ico" />
<script language="JavaScript" src="{base_url}ckeditor-moono/ckeditor.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="all" href="{base_url}external-plugins/alert-box/AlertBox.css" />
<script language="Javascript" type="text/javascript" src="{base_url}js/jquery.1.8.2.min.js"></script>

<!--<script src="{base_url}external-plugins/highchart/highcharts.1.2.5.js"></script>-->
<!--[if IE]>
	<script type="text/javascript" src="{base_url}external-plugins/highchart/excanvas.compiled.js"></script>
<![endif]-->	
<!--<script src="{base_url}external-plugins/highchart/modules/exporting.js"></script>-->


<link rel="stylesheet" type="text/css" href="{base_url}external-plugins/jquery-ui-1.9.1/css/ui-darkness/jquery-ui-1.9.1.custom.css" />
<script type="text/javascript" src="{base_url}external-plugins/jquery-ui-1.9.1/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="{base_url}external-plugins/bootstrap/bootstrap-alert.js"></script>
<script src="{base_url}external-plugins/bootstrap/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="{base_url}external-plugins/alert-box/AlertBox.js"></script>
<script type="text/javascript" src="{base_url}external-plugins/jquery-cookie/jquery.cookie.js"></script>
<!-- start jquery treeview -->
<link rel="stylesheet" href="{base_url}external-plugins/jquery.treeview/jquery.treeview.css" />
<script src="{base_url}external-plugins/jquery.treeview/jquery.treeview.js" type="text/javascript"></script>
<!-- end jquery treeview -->
<script type="text/javascript" src="{base_url}external-plugins/slimscroll/slimScroll.js"></script>

<!-- chosen master -->
<link rel="stylesheet" href="{base_url}external-plugins/chosen-master/chosen/chosen.css"/>
<script src="{base_url}external-plugins/chosen-master/chosen/chosen.jquery.js" type="text/javascript"></script>
<!-- end chosen master -->

<!-- mask money-->
<script src="{base_url}external-plugins/jquery-maskmoney/src/jquery.maskMoney.js" type="text/javascript"></script>
<!-- end mask money-->

<!-- datetime picker -->
<link rel="StyleSheet" href="{base_url}external-plugins/datetimepicker/jquery-ui-timepicker-addon.css" type="text/css" media="all"/>
<script type="text/javascript" src="{base_url}external-plugins/datetimepicker/jquery-ui-timepicker-addon.js"></script>
<!-- end datetime picker -->

</script>

</head>
<body style="padding-top:0 !important;">
			
