#modalContainer {
	background-color:transparent;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
}

#alertBox {
    background: none repeat scroll 0 0 #FFFFFF;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 1px 2px 7px #666666;
    -moz-box-shadow: 1px 2px 7px #666666;
    margin-top: 175px;
    min-height: 100px;
    overflow: hidden;
    padding: 6px;
    position: relative;
    width: 300px;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
    border-bottom: 1px dashed #CCCCCC;
    color: #333333;
    font: bold 1.2em Arial;
    margin: 0;
    padding: 8px 0 8px 10px;
    text-align: center;
    text-transform: uppercase;
}

#alertBox p {
    background: none repeat scroll 0 0 transparent;
    color: red;
    font: 14px verdana,arial !important;
    height: 50px;
    margin: 0;
    padding: 20px;
}

#alertBox #closeBtn {
    background-color: red;
    color: #FFFFFF;
    display: block;
    font: bold 12px Arial;
    margin: 5px auto 14px;
    padding: 8px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 70px;
}


/* alert */

#alertBox #closeBtn {
    background: url("ok_button.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font: bold 12px Arial;
    height: 28px;
    margin: 5px auto 8px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 78px;
}
#alertBox {
    background: #333;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    margin-top: 175px;
    overflow: hidden;
    padding: 4px;
    position: relative;
    width: 300px;
}
#alertBox h1 {
    background: url("bg_alert_h1.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font: bold 11px Arial;
    margin: -4px 0 0;
    padding: 12px 0 8px 60px;
    text-align: left;
    text-transform: uppercase;
}

#alertBox p {
    background: none repeat scroll 0 0 transparent;
    color: #999;
    font: 14px arial !important;
    height: auto;
    margin: 0;
    padding: 20px;
    text-align: center;
}
/* alert */


#alertBox #yesBtn {
    background-color: red;
    color: #FFFFFF;
    display: block;
    font: bold 12px Arial;
    margin: 5px auto 14px;
    padding: 8px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 70px;
}

#alertBox #yesBtn {
    background: url("yes_button.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font: bold 12px Arial;
    height: 28px;
    margin: 0 0 10px 65px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 78px;
}


#alertBox #noBtn {
    background: url("no_button.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font: bold 12px Arial;
    height: 28px;
    margin: 0 65px 10px 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 78px;
}
