<script type="text/javascript">
function checkAll()
{
	var choice_num = document.getElementsByName("choices").length;
	var choice_val = document.getElementsByName("choices");
	if(document.form_list.master.checked== true)
	{
		for(var i=0; i < choice_num; i++)
		{
			choice_val[i].checked=true;
		}
	}
	else
	{
		for(var i=0; i < choice_num; i++)
		{
			choice_val[i].checked=false;
		}
	}
}

$(document).ready(function() 
{
	$('#delete_btn_up').click(function(e) 
	{
		confirm("Are you sure ?","javascript:del()");
	});
	
	$('#delete_btn_down').click(function(e) 
	{
		confirm("Are you sure ?","javascript:del()");
	});
	$('#publish_btn_up').click(function(e) 
	{
		confirm("Are you sure ?","javascript:pub()");
	});
	
	$('#publish_btn_down').click(function(e) 
	{
		confirm("Are you sure ?","javascript:pub()");
	});
});

function del()
{
			var queue = timer = 0;
			var checkedLength = 0;
			var choice_num = document.getElementsByName("choices").length; 
			var choice_val = document.getElementsByName("choices");
			for(var j=0; j < choice_num; j++)
			{
				
				if(choice_val[j].checked==true)
				{
					checkedLength++;
					var rec = choice_val[j].value;
					$.ajax({
					  url: '{admin_url}{title_link}/delete/'+choice_val[j].value,
					  dataType: 'json',
					  success: function(response) {
						queue++;
						
						/*cek status response balik*/
						if(response.status == 1){
							$("#record"+response.id).fadeOut();
							timer = 1000;
						}else if(response.status == 2){
							$("#record"+response.id).addClass("zebra-error");
							alert("Can't remove record(s), This data has associated with the other (Admins)");
							timer = 3000;
						}else{
							$("#record"+response.id+" td").addClass("zebra-error");
							alert("Can't remove record(s), you have set this record to unpublish first");
							timer = 3000;
						}
						/*end cek status */
						
						if(checkedLength == queue){
								setTimeout("goto()",timer);
						}
						
					  }
					});
				}
			}
}



function pub()
{
			var queue = timer = 0;
			var checkedLength = 0;
			var choice_num = document.getElementsByName("choices").length; 
			var choice_val = document.getElementsByName("choices");
			for(var j=0; j < choice_num; j++)
			{
				
				if(choice_val[j].checked==true)
				{
					checkedLength++;
					var rec = choice_val[j].value;
					$.ajax({
					  url: '{admin_url}widget/publish/{title_link}/'+choice_val[j].value,
					  dataType: 'json',
					  success: function(response) {
						queue++;
						
						/*cek status response balik*/
						if(response.status == 1){
							$("#pub"+response.id).html(response.val);
							$("#record"+response.id+" td").css("background","#81dd87");
							timer = 1000;
						}else{
							$("#record"+response.id+" td").addClass("zebra-error");
							alert("Change record(s) failed!");
							timer = 3000;
						}
						/*end cek status */
						
						if(checkedLength == queue){
								setTimeout("goto()",timer);
						}
						
					  }
					});
				}
		}
}



function goto()
{
	window.location='{admin_url}{title_link}/pages/{sch_path}/{per_page}/{pg}';
}

function set_search(){
	document.forms["search"].submit();

}

function openclose_search()
{
		if($("#search_box").css("display") == "none"){
			$("#close").html('<i class="icon-zoom-out"></i>');
			$("#search_box").css("display","");
			$.cookie('search_{title_link}',1,{ path: '/' });
		}else{
			$("#close").html('<i class="icon-zoom-in"></i>');
			$("#search_box").css("display","none");;
			$.cookie('search_{title_link}',null,{ path: '/' });
		}
}

    var config = {
          '#ref2'           : {},
          '#ref2-deselect'  : {allow_single_deselect:true},
          '#ref2-no-single' : {disable_search_threshold:10},
          '#ref2-no-results': {no_results_text:'Oops, nothing found!'},
          '#ref2-width'     : {width:"95%"}
        }
        for (var selector in config) {
          $(selector).chosen(config[selector]);
    }


$("[rel=tooltip]").tooltip();

</script>

        <ul id="breadcrumb">
            <li><a title="Home" href="{admin_url}index/"><span class="icon-home"></span></a></li>
            <li><span>{title_head}</span></li>
        </ul>
        <div class="clear"></div>

        <div class="row">
          <div class="span_full">
            <h2>{title_head}</h2>
	    
	    	<form id="search" method="POST" action="{admin_url}{title_link}/search" class="navbar-inner">
                <button class="close" type="button" id="close" onclick="openclose_search();"><i class="icon-zoom-in"></i></button>
                <h3>Search</h3>
                <div id="search_box">
                    <table border=0>
					    <tr>
					    	<td>Level</td><td> <input type="text"  name="sch1" value="{sch1_val}"></td>
					    </tr>
					    <tr>
					    	<td>Publish</td><td>{ref2}</td>
					    </tr>
					</table>
					<input type="hidden" value="{per_page}" name="per_page"/>
                    <input type="button" class="btn info" value="Search" onclick="set_search()">  
                    <input type="button" class="btn-reset" value="Reset" onclick="window.location='{admin_url}{title_link}';">
                </div>
            </form>
	     
           <form name="form_list" method="POST" id="form_list" action="{admin_url}{title_link}/delete" class="navbar-content">
            <div class="panel-up">
                 <div class="navigation">
                 	<input type="text" value="{per_page}" maxlength="3" class="perpage" onchange="sendLimit(this.value)" onkeypress="validateLimit(event,this.value)"/>
                	<a href="#"  rel="tooltip" id="publish_btn_up" style="{display_record}" class="btn info" title="Publish / Not Publish"><span class="white-icon-ok-sign"></span></a>
					<a href="#" rel="tooltip" id="delete_btn_up" style="{display_record}" class="btn info" title="Delete"><span class="white-icon-trash"></span></a>
					<a rel="tooltip" href="{admin_url}{title_link}/edit/0" id="add_btn" class="btn info" title="Add"><span class="white-icon-plus"></span></a>
                 </div>
                 <div class="pagination pagination-right">{paging}</div>
             </div>
             <div class="clear"></div>
            <p>Total Records {jum_record}</p>
            <table class="attr borders" style="{display_record}">
				 <tr>
                    <th width="1%" class="center">
						<div class="checkbox check-primary">
							<input type="checkbox" name="master" id="master" onclick="checkAll();">
							<label for="master"></label>
						</div>
					</th>
                    <th width="1%" class="center">No.</th>
					<th width="1%" class="center">Edit</th>
                    <th width="15%">Level</th>
                    <th width="5%" class="center">Publish</th>
                    <th width="5%">Create Date</th>
                 </tr>
              	{list}
            	<tr class="record" id="record{id}">
                    <td class="td-content center">
						<div class="checkbox check-primary">
							<input type="checkbox" name="choices" id="choices{id}" value="{id}"/>
							<label for="choices{id}"></label>
						</div>
					</td>
                    <td class="td-content center">{no}</td>
					<td class="td-content center"><a href="{admin_url}{title_link}/edit/{id}" class="btn-edit"  rel="tooltip" title="Click to edit"><i class="icon-pencil"></i></a></td>
                    <td class="td-content">{title}</td>
		        	<td class="td-content center"><div id="pub{id}"><i class="{publish}"></i></div></td>
                    <td class="td-content"><i class="icon-calendar"></i> {create_date}</td>
                </tr>
                {/list}
             </table>
	     
             <div class="panel-down">
                 <div class="navigation">
                 	<input type="text" value="{per_page}" maxlength="3" class="perpage" onchange="sendLimit(this.value)" onkeypress="validateLimit(event,this.value)"/>
                	<a href="#"  rel="tooltip" id="publish_btn_down" style="{display_record}" class="btn info" title="Publish / Not Publish"><span class="white-icon-ok-sign"></span></a>
					<a href="#" rel="tooltip" id="delete_btn_down" style="{display_record}" class="btn info" title="Delete"><span class="white-icon-trash"></span></a>
					<a rel="tooltip" href="{admin_url}{title_link}/edit/0" id="add_btn" class="btn info" title="Add"><span class="white-icon-plus"></span></a>
                 </div>
                 <div class="pagination pagination-right">{paging}</div>
             </div>
             <div class="clear"></div>
             	 <input type="hidden" name="search_path" value="{sch1_parm}" id="sch1_parm"/>
				 <input type="hidden" name="search_path" value="{sch2_parm}" id="sch2_parm"/>
            	 <input type="hidden" name="pg" value="{pg}" id="pg"/>
             </form>
          </div>
</div>

<script type="text/javascript">

function validateLimit(evt,val) {
		var theEvent = evt || window.event;
		var key = theEvent.keyCode || theEvent.which;
		var keyA = theEvent.keyCode || theEvent.which;
		key = String.fromCharCode( key );
		var regex = /[0-9]/;
		if( !regex.test(key) && keyA != 8 && keyA != 46 && keyA != 37 && keyA != 39 && keyA != 13) {
			theEvent.returnValue = false;
			theEvent.preventDefault();
		}
}
	
function sendLimit(val)
{
	document.location="{admin_url}{title_link}/pages/{sch_path}/"+val;
}


function read_cookie_search(){
	if($.cookie('search_{title_link}') == 1){
		$("#close").html('<i class="icon-zoom-out"></i>');
		$("#search_box").css("display","");
	}else{
		$("#close").html('<i class="icon-zoom-in"></i>');
		$("#search_box").css("display","none");
	}
}
read_cookie_search();
</script>